@let accordionView = $accordionView();

<div class="dashboard">
  @if (ss.selectedFractal.$value()) {
    <app-bread-crumbs (crumbClick)="onCrumbTouch($event)" />
  }

  @if (accordionView) {
    <app-accordion />
  }

  @if (!accordionView) {
    @if (ss.selectedFractal.$value(); as selectedFractal) {
      @for (cursor of selectedFractal.getSplittableData('children'); track cursor) {
        @if (selectedFractal.findChild([cursor]); as child) {
          <ng-container [ngTemplateOutlet]="tile" [ngTemplateOutletContext]="{fractal: child}"  />
        }
      }
    } @else {
      @if (ss.$app(); as app) {
        <ng-container [ngTemplateOutlet]="tile" [ngTemplateOutletContext]="{fractal: app}"  />
      }
    }
  }
</div>

<ng-template #tile let-fractal="fractal">
  @let children = fractal.getSplittableData('children');
  <app-card
    [$like]="'button'"
    [$title]="fractal.cursor"
    lastHoldEvent="save"
    (cardTouch)="onCardTouch(fractal)"
    (cardHoldSave)="onCardHoldSave(fractal)">Children: {{ children.length }}</app-card>
</ng-template>