@let sort = fractal.sort('form');

<form>
  <app-list [length]="sort.length">
    @for (indicator of sort; track indicator) {
      @if (fractal.findControl(indicator); as control) {
        @let controlForm = fractal.getControlFrom(indicator);
        <li>
          <app-card [title]="indicator">
            <ng-container card-content>
              <app-input [label]="formKeys.indicator" [formCtr]="controlForm.indicator" />
              <app-select [label]="formKeys.input" [opts]="controlInputs.strings" [formCtr]="controlForm.input" />
              <app-input [label]="formKeys.data" [formCtr]="controlForm.data" />
            </ng-container>
          </app-card>
        </li>
      }
    }
  </app-list>
</form>
