@use 'variables.scss' as *;

.mat-card-title-group {
  margin-bottom: map-get($size, sm);
}

.selected {
  border-color: map-get($color, manager);
}

.card {
  overflow: hidden;
}

.card-container {
  display: flex;
}

.card-body {
  width: 100%;
}

.button {
  width: 30px;
  cursor: pointer;
  border: none;
  background-color: map-get($color, common);
  &:hover {
    background-color: map-get($color, secondary);
  }
}

.card-content,
mat-card-header.card-heder {
  padding: 0 16px 16px 0 !important;
}
