@let controls = formRecord.controls;

<app-card [title]="title">
  @if (title === 'New') {
    <app-button-icon card-action icon="close" [disableHold]="false" (touch)="touch.emit()" />
  }
  <ng-container card-content>
    <app-input [label]="labels.indicator" [formCtr]="controls[labels.indicator]" />
    <app-select [label]="labels.input" [opts]="selectOpts" [formCtr]="controls[labels.input]" />
    <app-input [label]="labels.data" [formCtr]="controls[labels.data]" />
  </ng-container>
</app-card>
