<div class="control-view">
    @switch (true) {
      @case ($isEditMode()) {
        <ng-container [ngTemplateOutlet]="editView" />
      }
      @case ($isEditMode()) {
        <ng-container [ngTemplateOutlet]="fullEditView" />
      }
      @default {
        <ng-container [ngTemplateOutlet]="dataView" />
      }
    }
</div>

<ng-template #fullEditView>
  <app-card>
    <!-- <app-input [$form]="formControl.controls.cursor" [$label]="'Cursor'" />
    <app-select [$form]="formControl.controls.type" [$opts]="controlTypes" [$label]="'Type'" />
    <app-input [$form]="formControl.controls.data" [$label]="'Data'" /> -->
  </app-card>
</ng-template>

<ng-template #editView>
  @if (formControl) {
    <div class="edit-mode-container">
      <app-input [$label]="$column()" [$form]="formControl" />
    </div>
  }
</ng-template>

<ng-template #dataView>
  {{ controlData }}
</ng-template>