<!-- <div class="container">
  @if (fractal.cursor !== AppFractals.App) {
    <app-table class="controls-table" view="controls" [$fractal]="fractal" />
  }

  @if (fractal.isCollection && fractal.fractals.size) {
    <app-table [$fractal]="fractal" />
  }

  @if (!fractal.isCollection) {
    <mat-accordion class="accordion">
      @for (cursor of fractal.controls.getOneSplitable('Oc'); track cursor) {
        @if (fractal.fractals.get(cursor); as child) {
          <app-panel
            #panel
            [fractal]="child"
            [ancestors]="ancestors"
            (closed)="closed(child)"
            (afterExpand)="afterExpand(child)">
            @if (panel.expansionPanel()?.expanded) {
              <app-accordion [fractal]="child" [ancestors]="ancestors" />
            }
          </app-panel>
        }
      }
    </mat-accordion>
  }
</div> -->
