@if ($fractal(); as fractal) {
  <mat-accordion hideToggle class="mat-accordion 1">
    @for (cursor of fractal.getArray('Oc'); track cursor) {
      @if (fractal.findChild([cursor]); as child) {
        @if (child.children) {
          <mat-expansion-panel
            (opened)="onOpened(child)"
            (closed)="onClosed(child)"
            [expanded]="ss.closedPanel.$value() === child.parent">
            <mat-expansion-panel-header>
              <mat-panel-title>
                @if (child.getString('Icon'); as icon) {
                  <mat-icon class="icon">{{ icon }}</mat-icon>
                }
                {{ child.cursor }}
              </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-accordion hideToggle class="mat-accordion 2">
              <mat-expansion-panel [expanded]="ss.closedPanel.$value() === child">
                <mat-expansion-panel-header>
                  <mat-panel-title>Controls</mat-panel-title>
                </mat-expansion-panel-header>
                <app-controls [$fractal]="child" />
              </mat-expansion-panel>

              <mat-expansion-panel [expanded]="ss.closedPanel.$value() === child">
                <mat-expansion-panel-header>
                  <mat-panel-title>Children</mat-panel-title>
                </mat-expansion-panel-header>
                <div class="collection-container">
                  <app-collection [$fractal]="child" class="collection" />
                </div>
                <app-accordion [$fractal]="child" />
              </mat-expansion-panel>
            </mat-accordion>
          </mat-expansion-panel>
        }
      }
    }
  </mat-accordion>
}
