@if ($fractal(); as fractal) {
  @if (!fractal.parent?.is('Collections')) {
    <mat-accordion hideToggle class="mat-accordion">
      @for (cursor of fractal.getArray('Oc'); track cursor) {
        @if (fractal.findChild([cursor]); as child) {
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                @if (child.getString('Icon'); as icon) {
                  <mat-icon class="icon">{{ icon }}</mat-icon>
                }
                {{ child.cursor }}
              </mat-panel-title>
            </mat-expansion-panel-header>

            <app-controls [$fractal]="fractal" />

            @if (child.parent?.is('Collections')) {
              <app-collection [$fractal]="child" />
            }

            <app-accordion [$fractal]="child" />
          </mat-expansion-panel>
        }
      }
    </mat-accordion>
  }
}
