<!-- <div class="editor">
  <app-list [dataSource]="[]" [templateRef]="controls" />
  <app-list [dataSource]="[]" [templateRef]="controls" />
</div>

<ng-template #controls let-fractal>
  <app-card [title]="fractal.cursor" [selected]="true">
    <div class="controls">
      @for (indicator of dataSource; track $index) {
        @if (fractal.controls.get(indicator); as control) {
          <app-control [fullEditMode]="control.fullEditMode.$value()" [control]="control" />
        }
      }
      @for (control of fractal.newControls.$value(); track control.dto.id) {
        <app-control [fullEditMode]="control.fullEditMode.$value()" [control]="control" />
      }
    </div>
  </app-card>
</ng-template> -->
