@let selectedChildren = ss.selectedChildren.$value();

<div class="editor">
  @if (selectedChildren.length > 0) {
    <app-list [dataSource]="selectedChildren" [templateRef]="controls" />
  }
</div>

<ng-template #controls let-fractal>
  <app-card
    [title]="fractal.cursor ? fractal.cursor : 'New'"
    [selected]="ss.selectedForm.$value() === fractal"
    (clicked)="formCardClicked(fractal)">
    <div class="controls">
      @for (indicator of dataSource; track $index) {
        @if (fractal.controls.get(indicator); as control) {
          <app-control [fullEditMode]="fractal.fullEditMode.$value()" [control]="control" />
        }
      }
      @for (control of fractal.newControls.$value(); track control.dto.id) {
        <app-control [fullEditMode]="fractal.fullEditMode.$value()" [control]="control" />
      }
    </div>
  </app-card>
</ng-template>
