@use 'variables.scss' as *;

.editor {
  display: flex;
  flex-direction: column;
  gap: map-get($size, md);
}

.controls {
  display: flex;
  flex-direction: column;
  gap: map-get($size, sm);

  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    > * {
      width: calc(50% - map-get($size, sm) / 2);
    }
  }

  @media (min-width: 1200px) {
    > * {
      width: calc(33.333% - 6px);
    }
  }
}
