<mat-form-field class="app-form-field">
  <mat-label>{{ label }}</mat-label>
  <input #inputElementRef matInput [type]="label" [formControl]="form" />

  <mat-error *ngFor="let error of errors">
    {{ error }}
  </mat-error>

  <button
    [class.hidden-button]="!inputElementRef.value || form.disabled"
    type="button"
    matSuffix
    mat-icon-button
    i18n-aria-label
    aria-label="Clear input"
    (click)="form.setValue('')">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
