@let sort = fractal.isItem ? fractal.parent.sort : fractal.controlsIndicators;

<form>
  @for (indicator of sort; track indicator) {
    @let control = fractal.findControl(indicator);

    @if (control) {
      @let fromControl = fractal.getControlForm(indicator);
      @switch (control.input) {
        @case (controlInputs.Select) {
          <app-select [label]="indicator" [opts]="control.data.split(':')" [formCtr]="fromControl" />
        }
        @default {
          <app-input [label]="indicator" [formCtr]="fromControl" />
        }
      }
    }
  }
</form>
<ng-content />
