@use 'variables.scss' as *;

button[disabled] {
  background-color: map-get($color, common);
}

button {
  width: 100%;
  justify-content: start;
  height: calc(map-get($size, lg) * 2);
  &:hover {
    border-radius: 0;
  }
}
