@use 'variables.scss' as *;

button[disabled] {
  background-color: $color-common;
}

button {
  width: 100%;
  justify-content: start;
  height: calc($size-large * 2);
  &:hover {
    border-radius: 0;
  }
}
