<table mat-table [dataSource]="fractal.fractals.values" class="table">
  @for (column of columns; track column) {
    <ng-container [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
      <td mat-cell *matCellDef="let row">
        {{ row.controls.get({ unsaveIndicator: column })?.get('data') }}
      </td>
    </ng-container>
  }
  <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: columns"
    appTap
    (hold)="onHold()"
    (touch)="onTouch(row)"
    [class.clicked-row]="fractal.$selectedChildren().includes(row)"></tr>
</table>
