@if (fractal.fractals.size > 0) {
  <table mat-table [dataSource]="dataSource" class="table">
    @for (column of columns; track column) {
      <ng-container [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef>
          {{ column }}
        </th>
        <td mat-cell *matCellDef="let row">
          {{ fractal.fractals.get(row)?.controls?.getControlData([column]) }}
        </td>
      </ng-container>
    }
    <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: columns"
      appTap
      (hold)="fs.selectedChildren.toggleAll(fractal.fractals.get(row))"
      (touch)="fs.selectedChildren.toggle(fractal.fractals.get(row))"
      [class.clicked-row]="fs.selectedChildren.has(fractal.fractals.get(row))"></tr>
  </table>
}
