@let children = fractal.fractals.values;

@if (children.length > 0) {
  <table mat-table [dataSource]="children" class="table">
    @for (column of columns; track column) {
      <ng-container [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
        <td mat-cell *matCellDef="let row">
          {{ row.controls.get({ unsaveIndicator: column })?.get('data') }}
        </td>
      </ng-container>
    }
    <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: columns"
      appTap
      (hold)="fractal.selectedChildren.toggleAll(row)"
      (touch)="fractal.selectedChildren.toggle(row)"
      [class.clicked-row]="fractal.selectedChildren.$value().includes(row)"></tr>
  </table>
}
