<mat-grid-list cols="5" rowHeight="3:1" gutterSize="8px">
  @if (ss.selectedFractal.$value()) {
    <mat-grid-tile>
      <button type="button" class="button" matButton="outlined" (click)="crumbClick.emit(null)">
        Null
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
    </mat-grid-tile>
  }
  @for (crumb of $crumbs(); track crumb.cursor) {
    <mat-grid-tile>
      <button type="button" class="button" matButton="outlined" (click)="crumbClick.emit(crumb)">
        {{ crumb.cursor }}
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
    </mat-grid-tile>
  }
</mat-grid-list>