@let newChildren = cs.$children();

@if (ss.selectedFractal.$value(); as selectedFractal) {
  <mat-accordion>
    <ng-container
      [ngTemplateOutlet]="table"
      [ngTemplateOutletContext]="{
        like: 'controls',
        title: 'Controls'
      }" />

    <ng-container
      [ngTemplateOutlet]="table"
      [ngTemplateOutletContext]="{
        like: 'childrenControls',
        title: 'Children controls'
      }" />

    <ng-container
      [ngTemplateOutlet]="table"
      [ngTemplateOutletContext]="{
        like: 'children',
        title: 'Children'
      }" />

    <ng-template #table let-like="like" let-title="title" >
      <mat-expansion-panel (opened)="onPanelOpened(like)" >
        <mat-expansion-panel-header>
          <mat-panel-title>{{ title }}</mat-panel-title>
        </mat-expansion-panel-header>
          <div class="table-container">
            @if (ss.$selectedCollectionState(); as state) {
              <app-table
                [$like]="like"
                [$state]="state"
                [$fractal]="selectedFractal" />
            }
            
            @if (newChildren.length > 0) {
              <div class="new-entities">
                @for (child of newChildren; track child; let index = $index) {
                  <app-fractal-form [$title]="(index + 1).toString()" [$fractal]="child"/>
                }
              </div>
            }
          </div>
      </mat-expansion-panel>
    </ng-template>
  </mat-accordion>
}