<button (click)="onCardClicked($event)">
  <app-card [title]="fractal.cursor" [selected]="ss.selectedFractalForm.has(fractal)">
    @if (ss.modifiers.$editMode() === editMode.Controls) {
      <div class="controls-forms">
        <app-list [templateRef]="controlsForms" [dataSource]="fractal.sortControls" />
        @if (newControlsForms$ | async; as controlsFrom) {
          <app-list [templateRef]="newControlsForms" [dataSource]="controlsFrom.controls" />
        }
      </div>
    } @else {
      <app-control-data-forms [fractal]="fractal" />
    }
  </app-card>
</button>

<ng-template #controlsForms let-indicator let-index="index">
  @if (fractal.findControl(indicator); as control) {
    @let controlForm = fractal.form.controls[indicator];
    <button (click)="onControlFormClicked($event, controlForm)">
      <app-control-forms
        [title]="indicator"
        [selected]="!!ss.selectedControlsForms.map.get(fractal)?.has(controlForm)"
        [formRecord]="controlForm" />
    </button>
  }
</ng-template>

<ng-template #newControlsForms let-formRecord let-index="index">
  <app-control-forms title="New" [formRecord]="formRecord" (touch)="ccs.removeNewControlFormAt(this.fractal, index)" />
</ng-template>
