@if ($fractal()?.tableView; as tableView) {
  @let view = $view();
  @let columns = tableView.columns(view);

  <table mat-table [dataSource]="tableView.dataSource(view)" class="table">
    @for (column of columns; track column) {
      <ng-container [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef>
          {{ column }}
        </th>
        <td mat-cell *matCellDef="let indicator; let index = index">
          {{ tableView.tdContent({ view, index, column, indicator }) }}
        </td>
      </ng-container>
    }
    <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: columns"
      appTap
      (hold)="tableView.onChildHold()"
      (touch)="tableView.onChildTouch(row)"
      [class.selected-row]="tableView.isChildSelected(row)"></tr>
  </table>
}
