@use 'variables' as *;

:host {
  width: 100%;
  display: block;
  overflow: auto;
}

.td {
  cursor: default;
}

.selected-row {
  background-color: map-get($color, secondary);
}

.selected {
  border: 1px solid map-get($color, manager);
}
