@let tablesData = $tablesData();
@let columns = tablesData.columns;
@let dataSource = tablesData.dataSource;

<mat-card appearance="outlined" [class.selected]="$selected()">
  <mat-card-header>
    <mat-card-title>{{ $like() }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    @if (columns && columns.length > 0 && dataSource && dataSource.length > 0) {
      <table mat-table [dataSource]="dataSource">
        @for (column of columns; track column) {
          <ng-container [matColumnDef]="column">
            <th mat-header-cell *matHeaderCellDef>
              {{ column }}
            </th>
            <td mat-cell *matCellDef="let cursor; let index = index">
              {{ tablesData.tdContent({ index, cursor, column }) }}
            </td>
          </ng-container>
        }
        <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
        <tr
          mat-row
          *matRowDef="let cursor; columns: columns"
          appTap
          (hold)="holdRow.emit(cursor)"
          (touch)="touchRow.emit(cursor)"
          [class.selected-row]="$selectedRows().includes(cursor)"></tr>
      </table>
    } @else {
      <p>No items to display</p>
    }
  </mat-card-content>
</mat-card>