@let data = tablesData[$like()];
@let columns = data.columns();
@let dataSource = data.dataSource();

@if (columns && columns.length > 0 && dataSource && dataSource.length > 0) {
  <table mat-table [dataSource]="dataSource">
    @for (column of columns; track column) {
      <ng-container [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef>
          {{ column }}
        </th>
        <td mat-cell *matCellDef="let cursor; let index = index;">
          <app-control-view
            [$column]="column"
            [$cursor]="cursor"
            [$fractalField]="$like()" />
        </td>
      </ng-container>
    }
    <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
    <tr
      mat-row
      *matRowDef="let cursor; columns: columns"
      appTapEvents
      (hold)="onRowHold(cursor)"></tr>
  </table>
} @else {
  <p>No data to display</p>
}