@let state = $state();
@let tablesData = $tablesData();
@let columns = tablesData.columns();
@let dataSource = tablesData.dataSource();

@if (columns && columns.length > 0 && dataSource && dataSource.length > 0) {
  <table mat-table [dataSource]="dataSource">
    @for (column of columns; track column) {
      <ng-container [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef>
          {{ column }}
        </th>
        <td mat-cell *matCellDef="let cursor; let index = index;">
          @let content = tablesData.tdContent({ index, cursor, column });
          @if ($$showControlForm(content.control)()) {
            <app-control-form
              [$label]="column"
              [$control]="content.control"
              [$isChildControl]="!ss.selectedChildren.$isEmpty()" />
          } @else {
            {{ content.data }}
          }
          {{ content.data }}
        </td>
      </ng-container>
    }
    <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
    <tr
      mat-row
      *matRowDef="let cursor; columns: columns"
      appTapEvents
      (hold)="onRowHold(cursor)"
      (touch)="onRowTouch(cursor)"
      [class.selected-row]="state.$$hasItemWithCursor(cursor)()"></tr>
  </table>
} @else {
  <p>No data to display</p>
}