@use 'variables.scss' as *;

.list {
  gap: map-get($size, sm);
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: map-get($breakpoints, xs)) {
  .list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: map-get($breakpoints, md)) {
  .list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: map-get($breakpoints, lg)) {
  .list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
