@use 'variables.scss' as *;

ul {
  display: flex;
  flex-wrap: wrap;
  gap: map-get($size, sm);
}

li {
  flex: 1 1 100%;
  box-sizing: border-box;
}

ul.two-items > li {
  flex: 1 1 calc(50% - map-get($size, sm));
}

ul.three-or-more-items > li {
  flex: 1 1 calc(30.33% - map-get($size, sm));
}

@media (max-width: map-get($breakpoints, sm)) {
  ul.two-items > li,
  ul.three-or-more-items > li {
    flex: 1 1 100%;
  }
}
