<mat-drawer-container class="mat-drawer-container-app-sidenav" autosize>
  <mat-drawer
    [opened]="ss.manager.has(events.Touch)"
    [disableClose]="false"
    class="mat-drawer-app-sidenav"
    mode="side"
    position="end">
    @if (ss.taps.signal(); as taps) {
      <mat-list>
        @if (taps.is(entities.Pages)) {
          @for (indicator of taps.sortChildren; track indicator) {
            @if (taps.findFractal(indicator); as tap) {
              <app-tap [tap]="tap" (touch)="onPageTouched($event)" />
            }
          }
          @if (es.$app(); as app) {
            <app-tap [tap]="app" (touch)="onPageTouched($event)" />
          }
        }
        @if (taps.is(entities.Modifiers)) {
          @for (indicator of taps.sortChildren; track indicator) {
            @if (taps.findFractal(indicator); as tap) {
              <app-tap [tap]="tap" (hold)="onModifierHeld($event)" (touch)="onModifierTouched($event)" />
            }
          }
        }
      </mat-list>
    }
  </mat-drawer>
  <router-outlet></router-outlet>
</mat-drawer-container>
