<mat-drawer-container class="mat-drawer-container-app-sidenav" autosize>
  <mat-drawer
    [opened]="es.$managerEvent() === AppEvents.Touch"
    [disableClose]="false"
    class="mat-drawer-app-sidenav"
    mode="side"
    position="end">
    @if (modifiers.$selected()) {
      @for (modifier of modifiers.fractals.values; track modifier.dto.id) {
        <app-tap [tap]="modifier" (hold)="onModifierHeld(modifier)" (touch)="onModifierTouched(modifier)" />
      }
    }
    @if (collections.$selected()) {
      @for (connection of collections.fractals.values; track connection.dto.id) {
        <app-tap [tap]="connection" [disableHoldEvent]="true" (touch)="onPageTouched($event)" />
      }
    }
  </mat-drawer>
  <router-outlet></router-outlet>
</mat-drawer-container>
