@use 'variables.scss' as *;

.list {
  display: flex;
  flex-wrap: wrap;
  gap: map-get($size, md);
}

.item {
  flex: 1 1 100%;
  box-sizing: border-box;
}

.list.two-items > .item {
  flex: 1 1 calc(50% - map-get($size, md));
}

.list.three-or-more-items > .item {
  flex: 1 1 calc(30.33% - map-get($size, md));
}

@media (max-width: 768px) {
  .item {
    flex: 1 1 100%;
  }
}
