@let showTables = $showTables();

<div class="dashboard">
  @if (fs.selectedFractal.$value()) {
    <app-bread-crumbs (crumbClick)="onTileTouch($event)" />
  }

  @if (showTables) {
    <app-tables />
  }

  @if (!showTables) {
    @if (fs.selectedFractal.$value(); as selectedFractal) {
      @for (cursor of selectedFractal.getStringsData('children'); track $index) {
        @if (selectedFractal.findChild([cursor]); as child) {
          <app-tile [$fractal]="child" (tileHold)="onTileHold(child)" (tileTouch)="onTileTouch(child)"/>
        }
      }
    } @else {
      @if (fs.$app(); as app) {
        <app-tile [$fractal]="app" (tileHold)="onTileHold(app)" (tileTouch)="onTileTouch(app)"/>
      }
    }
  }
</div>