@if (fs.selectedFractal.$value(); as selectedFractal) {
  <div class="dashboard">
    @let ancestors = $ancestors();
    @if (ancestors.length > 0) {
      <mat-grid-list cols="5" rowHeight="3:1" gutterSize="8px">
        @for (ancestor of ancestors; track $index) {
          <mat-grid-tile>
            <button type="button" class="button-ancestor" matButton="outlined" (click)="onCardTouch(ancestor)">
              {{ ancestor.cursor }}
              <mat-icon>arrow_back_ios</mat-icon>
            </button>
          </mat-grid-tile>
        }
      </mat-grid-list>
    }

    @if ($editMode()) {
      @let childrenControls = selectedFractal.findControl('Children controls');
      <div [class.collection]="childrenControls">
        <app-table
          [$like]="'Controls'"
          [$fractal]="selectedFractal"
          [$selected]="fs.selectedControls.$value().length > 0"
          [$selectedRows]="fs.selectedControls.$cursors()"
          (holdRow)="onControlHold()"
          (touchRow)="onControlTouch($event)" />
        @if (childrenControls) {
          <app-table
            [$like]="'Children controls'"
            [$fractal]="selectedFractal" 
            [$selected]="fs.selectedChildrenControls.$value().length > 0"
            [$selectedRows]="fs.selectedChildrenControls.$cursors()"
            (holdRow)="onChildrenControlHold()"
            (touchRow)="onChildrenControlTouch($event)" />

          <app-table
            [$fractal]="selectedFractal"
            [$selected]="fs.selectedChildren.$value().length > 0"
            [$selectedRows]="fs.selectedControls.$cursors()"
            (holdRow)="onChildHold()"
            (touchRow)="onChildTouch($event)" />
        }
      </div>
    } @else { 
      <div class="fractals-cards">
        @for (cursor of selectedFractal.getStringsData('Children'); track $index) {
          @if (selectedFractal.findChild([cursor]); as child) {
            @let children = child.getStringsData('Children');

            <mat-card appearance="outlined" >
              <button
                type="button"
                class="button-card"
                matButton
                [disableRipple]="children.length === 0"
                appTap
                (touch)="onCardTouch(child)"
                (hold)="onCardHold(child)">{{''}}</button>
              <mat-card-header>
                <mat-card-title>{{ child.cursor }}</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                Children: {{ children.length }}
              </mat-card-content>
            </mat-card>
          }
        }
      </div>
    }
  </div>
}