@use 'variables.scss' as *;

.icon {
  margin-right: map-get($size, sm);
}

.children {
  display: flex;
  flex-direction: column;
  gap: map-get($size, md);
}

.mat-expansion-panel {
  border: solid 1px map-get($color, border);
  box-shadow: none !important;
  border-radius: 0 !important;
}

.clicked-panel {
  background-color: map-get($color, secondary);
}

::ng-deep {
  mat-expansion-panel {
    .mat-expansion-panel-body {
      padding: 0 map-get($size, sm) map-get($size, sm);
    }
  }
}

::ng-deep {
  mat-expansion-panel.new-panel {
    .mat-expansion-panel-body {
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: map-get($size, md);
    }
  }
}
