<mat-expansion-panel
  #panel
  [class.clicked-panel]="false"
  hideToggle
  (closed)="closed.emit(fractal)"
  (afterExpand)="afterExpand(fractal)">
  <mat-expansion-panel-header>
    <mat-panel-title>
      @if (fractal.controls.getControlData('Icon'); as icon) {
        <mat-icon class="icon">{{ icon }}</mat-icon>
      }
      {{ fractal.cursor }}</mat-panel-title
    >
  </mat-expansion-panel-header>
  @if (panel.expanded) {
    <div class="children">
      <app-fractal-controls [fractal]="fractal" class="controls" />

      <!-- @if (fractal.fractals.values.length) {
        <app-fractal-collection [fractal]="fractal" class="children-controls" />
      } -->
      @if (fractal.fractals) {
        <ng-content />
      }
    </div>
  }
</mat-expansion-panel>
