<!-- @let control = $control();

@if (control.form; as form) {
  @if (control.$isFullEditMode()) {
    <app-card
      ><app-input [$form]="getFromControl('cursor', form)" [$label]="mutableFields.CURSOR" />
      <app-select [$form]="getFromControl('type', form)" [$opts]="controlsTypes" [$label]="mutableFields.TYPE" />
      <app-input [$form]="getFromControl('data', form)" [$label]="mutableFields.DATA"
    /></app-card>
  } @else {
    <app-input [$form]="getFromControl('data', form)" [$label]="control.cursor" />
  }
} -->
