<div class="admin">
  @if (ss.selectedFractal.$value(); as parent) {
    <ul>
      @for (cursor of parent.getArray('Oc'); track $index) {
        <li>
          @if (parent.findChild([cursor]); as child) {
            <button class="btn-forward" matButton="outlined" type="button" (click)="onFractalSelected(child)">
              {{ child.cursor }}
              <mat-icon class="btn-forward-icon">arrow_forward_ios</mat-icon>
            </button>
          }
        </li>
      }
    </ul>
  }

  @if ($ancestors().length > 0) {
    <ul>
      @for (ancestor of $ancestors(); track $index) {
        <li>
          <button class="btn-back" matButton="outlined" type="button" (click)="onFractalSelected(ancestor)">
            {{ ancestor.cursor }}
            <mat-icon>arrow_back_ios</mat-icon>
          </button>
        </li>
      }
    </ul>
  }
</div>

