@let hasOrderChildrenControls = fractal.controls.has(Order['Order children controls']);

<div class="admin">
  <app-fractal-controls [fractal]="fractal" class="controls" />

  @if (hasOrderChildrenControls) {
    <app-fractal-collection [fractal]="fractal" />
  }

  @if (!hasOrderChildrenControls) {
    <mat-accordion class="accordion">
      @for (cursor of fractal.order('Order children'); track cursor) {
        @if (fractal.fractals.get(cursor); as child) {
          <mat-expansion-panel
            #panel
            [class.clicked]="fs.currentFractal.$value() === child"
            (closed)="closed()"
            (afterCollapse)="afterCollapse(child)"
            (afterExpand)="afterExpand(child)">
            <mat-expansion-panel-header>
              <mat-panel-title>
                @if (fractal.controls.getControlData('Icon'); as icon) {
                  <mat-icon class="icon">{{ icon }}</mat-icon>
                }
                {{ child.cursor }}
              </mat-panel-title>
            </mat-expansion-panel-header>

            @if (panel.expanded) {
              <app-admin [fractal]="child" />
            }
          </mat-expansion-panel>
        }
      }
    </mat-accordion>
  }
</div>
