@let app = fs.$app();
@let selectedPage = fs.collections && fs.collections.$selectedChildren()[0];

@if (app) {
  @if (Modifiers && selectedPage) {
    <app-editor [fractal]="selectedPage" />
  }

  @if (Page && !Modifiers) {
    @switch (Page) {
      @case (AppPages.Home) {
        <h1>Home</h1>
      }
      <!-- @case (AppPages.App) {
        <app-application [fractal]="app" />
      } -->
      @default {
        @if (selectedPage) {
          <app-fractal-collection [fractal]="selectedPage" />
        }
      }
    }
  }
}
