@let app = fs.$app();
@let current = fs.currentFractal.$value();

@if (app) {
  @if (Modifiers && current) {
    <app-editor [fractal]="current" />
  }

  @if (Page && !Modifiers) {
    @switch (Page) {
      @case (AppPages.Home) {
        <h1>Home</h1>
      }
      @case (AppPages.App) {
        <app-admin [fractal]="fs.collections!.fractals!.getRecursively('Products')!" />
      }
      @default {
        @if (current) {
          <app-fractal-collection [fractal]="current" />
        }
      }
    }
  }
}
