@let app = fs.$app();
@let selectedCollection = fs.collections?.getSelectedCollection();

@if (app) {
  @if (Modifiers && selectedCollection) {
    <app-editor [collection]="selectedCollection" />
  }

  @if (Page && !Modifiers) {
    @switch (Page) {
      @case (AppPages.Home) {
        <h1>Home</h1>
      }
      <!-- @case (AppPages.App) {
        <app-application [fractal]="app" />
      } -->
      @default {
        @if (this.fs.collections?.getSelectedCollection(); as collection) {
          <app-fractal-collection [fractal]="collection" />
        }
      }
    }
  }
}
