@if (fs.selectedFractal.$value(); as selectedFractal) {
  <div class="tables">
    <app-table
      [$like]="'controls'"
      [$fractal]="selectedFractal"
      [$selectedRows]="fs.selectedControls.$cursors()"
      [$selectedCard]="fs.$fractalFields()"
      (rowHold)="onCollectionHold(fs.selectedControls)"
      (rowTouch)="onCollectionTouch($event, fs.selectedControls)"
      (cardTouch)="onCardHoldOrTouch($event, fs.selectedControls)" />

    <app-table
      [$like]="'childrenControls'"
      [$fractal]="selectedFractal" 
      [$selectedRows]="fs.selectedChildrenControls.$cursors()"
      [$selectedCard]="fs.$fractalFields()"
      (rowHold)="onCollectionHold(fs.selectedControls)"
      (rowTouch)="onCollectionTouch($event, fs.selectedChildrenControls)"
      (cardTouch)="onCardHoldOrTouch($event, fs.selectedChildrenControls)" />

    <app-table
      [$fractal]="selectedFractal"
      [$selectedRows]="fs.selectedChildren.$cursors()"
      [$selectedCard]="fs.$fractalFields()"
      (rowHold)="onCollectionHold(fs.selectedControls)"
      (rowTouch)="onCollectionTouch($event, fs.selectedChildren)"
      (cardTouch)="onCardHoldOrTouch($event, fs.selectedChildren)" />
  </div>
}
