$size: (
  xs: 4px,
  sm: 8px,
  md: 16px,
  lg: 24px,
);

$color: (
  common: #fff,
  border: #e0e0e0,
  danger: #dc3545,
  manager: #ff4081,
  success: #28a745,
  warning: #ffc107,
  secondary: #f5f5f5,
);

$breakpoints: (
  xs: 600px,
  sm: 900px,
  md: 1200px,
  lg: 1800px,
);

$toolbar-height: map-get($size, lg) * 3;
$toolbar-tap-width: 40px;
$drawer-app-sidenav: 160px;
