<form>
  <app-card
    [title]="fractal.isNew ? 'New' : title"
    [selected]="fractal.formSelected.$value()"
    (cardHeaderClicked)="formClicked($event)">
    <app-list [dataSource]="dataSource" [templateRef]="fields" [threeColumns]="false" />
  </app-card>
</form>

<ng-template #fields let-indicator>
  @if (fractal.controls.get(indicator); as control) {
    @if (fractal.fullEditMode.$value()) {
      <app-all-field [control]="control" />
    } @else {
      <app-data-field
        [field]="control.dto.field"
        [fractal]="fractal"
        [dataForm]="control.getFromControl('data')"
        [indicator]="indicator" />
    }
  }
</ng-template>
