<button type="button" (click)="ss.selectedChildrenForms.toggle(fractal)">
  <form>
    <app-card [title]="isNewFractal ? 'New' : title" [selected]="ss.selectedChildrenForms.has(fractal)">
      @for (indicator of dataSource; track indicator) {
        @if (fractal.controls.get(indicator); as control) {
          <app-data-field
            [field]="control.dto.field"
            [fractal]="fractal"
            [dataForm]="control.getFromControl('data')"
            [indicator]="indicator" />
          <app-all-field />
        }
      }
    </app-card>
  </form>
</button>
