@if ($fractal(); as fractal) {
  @let children = fractal.getStringsData('children');

  <mat-card appearance="outlined" >
    <button
      type="button"
      class="button"
      matButton
      [disableRipple]="children.length === 0"
      appTap
      (hold)="tileHold.emit(fractal)"
      (touch)="tileTouch.emit(fractal)">{{''}}</button>
    <mat-card-header>
      <mat-card-title>{{ fractal.cursor }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      Children: {{ children.length }}
    </mat-card-content>
  </mat-card>
}