<mat-expansion-panel
  [class.clicked-panel]="ss.$currentPanel.has(fractal)"
  hideToggle
  (closed)="closed.emit(fractal)"
  (afterExpand)="afterExpand(fractal)">
  <mat-expansion-panel-header>
    <mat-panel-title>
      @if (fractal.findControl(indicators.Icon)?.data; as icon) {
        <mat-icon class="icon">{{ icon }}</mat-icon>
      }
      {{ fractal.cursor }}</mat-panel-title
    >
  </mat-expansion-panel-header>
  <div class="children">
    <app-controls [fractal]="fractal" [customColumns]="controlFormKeys" />
    @if (fractal.isCollection) {
      <app-children-controls [fractal]="fractal" />
    }
    @if (fractal.fractals) {
      <ng-content />
    }
  </div>
</mat-expansion-panel>
