<mat-expansion-panel
  #panel
  [class.clicked-panel]="ss.currentFractal.has(fractal)"
  hideToggle
  (closed)="closed.emit(fractal)"
  (afterExpand)="afterExpand(fractal)">
  <mat-expansion-panel-header>
    <mat-panel-title>
      @if (fractal.findControl(Indicators.Icon)?.data; as icon) {
        <mat-icon class="icon">{{ icon }}</mat-icon>
      }
      {{ fractal.cursor }}</mat-panel-title
    >
  </mat-expansion-panel-header>
  @if (panel.expanded) {
    <div class="children">
      <app-controls [fractal]="fractal" [customColumns]="ControlFormKeys" class="controls" />
      @if (fractal.is(Collections)) {
        <app-children-controls [fractal]="fractal" class="children-controls" />
      }
      @if (fractal.fractals) {
        <ng-content />
      }
    </div>
  }
</mat-expansion-panel>
