<mat-expansion-panel
  #panel
  [class.clicked-panel]="false"
  hideToggle
  (closed)="closed.emit(fractal)"
  (afterExpand)="afterExpand(fractal)">
  <mat-expansion-panel-header>
    <mat-panel-title>
      @if (fractal.controls.getData('Icon'); as icon) {
        <mat-icon class="icon">{{ icon }}</mat-icon>
      }
      {{ fractal.controls.getData('Cursor') }}</mat-panel-title
    >
  </mat-expansion-panel-header>
  @if (panel.expanded) {
    <div class="children">
      <!-- <app-controls [fractal]="fractal" [customColumns]="ControlFormKeys" class="controls" /> -->
      <!-- @if (fractal.is(Collections)) {
        <app-children-controls [fractal]="fractal" class="children-controls" />
      } -->
      <!-- @if (fractal.fractals) {
        <ng-content />
      } -->
    </div>
  }
</mat-expansion-panel>
